.calculator {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.values {
  background-color: $color-light;
  margin: 1rem;
  padding: 0.5rem;
  font-family: $font-text;
  font-weight: $font-weight-bold;
}

.error {
  color: $color-light;
  font-family: $font-text;
  background-color: $color-purple-warning;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: .5rem;

}
